<div class="row">
  <div class="col-md-9">
    <h3 class="text-uppercase">Páginas estáticas</h3>
  </div>
  <div class="col-md-3">
    <%= link_to 'Nueva página', new_admin_page_path, class: 'btn btn-primary btn-block btn-sm m-t-20 text-uppercase' %>
  </div>
</div>
<table class="table table-striped default-datatable">
  <thead>
    <tr>
      <th>Título</th>
      <th>URL</th>
      <th>Publicada</th>
      <th>Autor</th>
      <th style="width: 140px;"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.url %></td>
        <td><%= page.active ? 'Si' : 'No' %></td>
        <td><%= page.author.email %></td>
        <td><%= link_to 'Ver', admin_page_path(page), class: "btn btn-success btn-xs m-lr-5" %>
            <%= link_to 'Editar', edit_admin_page_path(page),  class: "btn btn-warning btn-xs m-lr-5" %>
            <%= link_to 'Eliminar', admin_page_path(page), class: "btn btn-danger btn-xs m-lr-5", method: :delete, data: { confirm: '¿Estás seguro de eliminar esta página?' } if page.destroyable %></td>
      </tr>
    <% end %>
  </tbody>
</table>
