<%= simple_form_for([:admin, @slide], defaults: { label: false, wrapper: false }, input_html: { class: 'form-control '}) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="banner">
    <div class="content" id="image-preview">
      <% if f.object.image.exists? && f.object.id %>
        <img src="<%= f.object.image.url(:cropped) %>" class="image-preview-tag" id=cropbox style="width:100%;height:auto",
        data-full="<%= f.object.image.url(:original) %>", data-width="<%=Paperclip::Geometry.from_file(f.object.image)%>">
      <% else %>
        <img class="image-preview-tag" id=cropbox>
      <% end %>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
        <%= f.hidden_field attribute, id: attribute %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 control-label">Imagen</label>
    <div class="col-sm-8">
      <div class="input-group" style="100%">
        <span class="input-group-btn">
          <span class="btn btn-primary btn-file btn-add" style="width:100%;">
            Examinar&hellip; <%= f.file_field :image, 'accept': 'image/x-png, image/jpeg' %>
          </span>
        </span>
        <input type="text" class="form-control" readonly aria-label="<%= :image %>">
      </div>
    </div>
  </div>
  <div id="image-options">
    <% if f.object.image.exists? && f.object.id %>
      <div class="m-b-10" data-toggle="buttons" style="width:100%;">
        <button type="button" class="btn btn-success crop-btn" id="slide-crop" style="width:49%;">Editar recorte</button>
        <%= link_to 'Borrar Imagen', image_admin_slides_path(f.object), data: { confirm: '¿Estás seguro que deseas eliminar la imagen?' },
            remote: true, class: 'btn btn-primary', style: "width:49%;"%>
      </div>
    <% end %>
  </div>
  <div class="form-group row">
    <%= f.label :title, 'Título', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.input :title, input_html: { class: 'form-control '} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :caption, 'Texto', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.input :caption, input_html: { class: 'form-control '} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :video_url, 'Link video', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.input :video_url, input_html: { class: 'form-control '} %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :active, 'Publicar', class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <div class="checkbox-small">
        <%= f.input :active %>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 pull-right">
      <%= f.submit 'Guardar', class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
