<div class="row row-eq-height row-flex-center full-height-login">
  <div class="col-md-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="form-group">
          <label>Email</label>
          <%= f.input :email, required: false, autofocus: true, wrapper:false, label:false, input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <%= f.input :password, required: false, wrapper:false, label:false, hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length), input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <label>Confirmar Contraseña</label>
          <%= f.input :password_confirmation, required: false, wrapper:false, label:false, input_html: {class: "form-control"} %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Registrarse", class: "btn-primary btn btn-block" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
