<!DOCTYPE html>
<html>
  <head>
    <title>Nnodes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navmenu', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' if user_signed_in? %>
    <%= javascript_include_tag Ckeditor.cdn_url if user_signed_in? && params[:controller] == 'pages' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "layouts/admin/mobile_menu"%>
    <%= render "layouts/admin/sidebar"%>
    <div class="container">
      <p id="notice"><%= bootstrap_flash %></p>
      <%= yield %>
    </div>
    <%# render partial: "layouts/admin/footer" %>
  </body>
</html>
