<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Nnodes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "layouts/admin/menu"%>
    <div class="container">
      <p id="notice"><%= bootstrap_flash %></p>
      <%= yield %>
    </div>
    <%# render partial: "layouts/admin/footer" %>
  </body>
</html>
