<div class="row row-eq-height row-flex-center full-height-login">
  <div class="col-md-4">
    <h3 class="text-uppercase">Cambiar contrase単a</h3>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>
      <div class="form-inputs">
        <div class="form-group">
          <label class="control-label">Nueva contrase単a</label>
           <%= f.input :password,required: true, autofocus: true, hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length), wrapper:false, label:false, input_html: {class: 'form-control'}  %>
        </div>
        <div class="form-group">
          <label class="control-label">Confirmar contrase単a</label>
           <%= f.input :password_confirmation, required: true, wrapper:false, label:false, input_html: {class: 'form-control'} %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Cambiar contrase単a", class: "btn-primary btn btn-block" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
