<%% content_for :table_header do %>
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <th><%= attribute.human_name %></th>
  <% end -%>
  <th style="width: 150px;" data-orderable="false"></th>
<%% end %>

<%% content_for :table_body do %>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
      <% end -%>
      <td>
        <%%= link_to "<%= I18n.t('helpers.links.show') %>", <%= singular_table_name %>, class: 'btn btn-success btn-xs' %> 
        <%%= link_to "<%= I18n.t('helpers.links.edit') %>", edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-warning btn-xs' %> 
        <%%= link_to "<%= I18n.t('helpers.links.destroy') %>", <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <%% end %>
<%% end %>

<%%= render partial: 'layouts/admin/resource/index',
           locals: {
             title: '<%= plural_table_name.titleize %>',
             link_new: new_<%= singular_table_name %>_path
           } %>
