<%% content_for :object_data do %>
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
        <strong><%= attribute.human_name %>:</strong>
        <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>
  <% end -%>
<%% end %>

<%%= render partial: 'layouts/admin/resource/show',
           locals: {
             title: '<%= singular_table_name.titleize %>',
             id: @<%= singular_table_name %>.id,
             link_edit: edit_<%= singular_table_name %>_path(@<%= singular_table_name %>),
             link_back: <%= index_helper %>_path
           } %>