<% content_for :table_header do %>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>User</th>
    <th style="width: 150px;" data-orderable="false"></th>
<% end %>

<% content_for :table_body do %>
  <% @render_scaffolds.each do |render_scaffold| %>
    <tr>
              <td><%= render_scaffold.titulo %></td>
              <td><%= render_scaffold.contenido %></td>
              <td><%= render_scaffold.user_id %></td>
            <td>
        <%= link_to "Ver", render_scaffold, class: 'btn btn-success btn-xs' %> 
        <%= link_to "Editar", edit_render_scaffold_path(render_scaffold), class: 'btn btn-warning btn-xs' %> 
        <%= link_to "Eliminar", render_scaffold, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <% end %>
<% end %>

<%= render partial: 'layouts/admin/resource/index',
           locals: {
             title: 'Render Scaffolds',
             link_new: new_render_scaffold_path
           } %>
