<%= simple_form_for([:admin, @user]) do |f| %>
    <%= f.input :email %>
    <%= f.input :role, collection: User.roles.keys, include_blank: false  %>
    <%= f.input :active, as: :radio_buttons, item_wrapper_class: 'radio-inline' %>
    <%= f.input :password  %>
    <%= f.input :password_confirmation %>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <%= f.button :submit %>
      </div>
    </div>
<% end %>
