<div class="row">
  <div class="col-md-8 col-xs-12">
    <h3 class="text-uppercase">Usuario Nº <%= @user.id %></h3>
  </div>
  <div class="col-md-2 col-xs-6">
    <%= link_to 'Editar', edit_admin_user_path(@user), class: "btn btn-warning btn-block m-t-20"%>
  </div>
  <div class="col-md-2 col-xs-6">
    <%= link_to 'Volver', admin_users_path, class: "btn btn-default btn-block m-t-20"%>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <table class="table table-striped">
    <caption>Detalles</caption>
      <tbody>
        <tr>
          <td>Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Rol</td>
          <td><%= @user.role %></td>
        </tr>
        <tr>
          <td>Registro</td>
          <td><%= l @user.created_at %></td>
        </tr>
        <tr>
          <td>Activo</td>
          <td><%= @user.active ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>'.html_safe : '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
