<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="logos" alt="INIT" src="<%= asset_path 'logo.png' %>" height="20">
      </a>
    </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Home", authenticated_root_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin", admin_users_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
        <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><%# current_user.first_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%# link_to "Opciones",  %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Cambiar contraseña', edit_user_registration_path %></li>
              <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>
