<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img alt="Nnodes" src="<%= asset_path 'logo-w.svg' %>" style="height: 30px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item <%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", authenticated_root_path, class: "nav-link" %></li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><%= current_user.email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if can? :manage, User %>
              <li><%= link_to "ir al Admin", admin_users_path, class: "dropdown-item" %></li>
            <% end %>
            <li><%= link_to 'Cambiar contraseña', edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
