<div id="navbar-home-sidebar" class="home-navmenu navmenu navmenu-default navmenu-fixed-left offcanvas-sm hidden-md hidden-lg" style="">
  <div class="navmenu-brand">
    <a href="#" class="brand">
      <img alt="Nnodes" src="<%= asset_path 'logo-w.svg' %>">
    </a>
  </div>
  <ul class="nav navmenu-nav">
    <% if user_signed_in? %>
      <li><%= link_to "Home", authenticated_root_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to "Admin", admin_users_path %></li>
      <% end %>
      <li><%= link_to 'Cambiar contraseña', edit_user_registration_path %></li>
      <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
    <% end %>
  </ul>
</div>
