<!DOCTYPE html>
<html>
  <head>
    <title>Nnodes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= 'affix-padding' if affix?(params) %>">
    <%= render "layouts/menu" %>
    <%= render "layouts/mobile_sidebar"%>
    <div class="container-fluid">
      <p id="notice"><%= bootstrap_flash %></p>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
